{% extends 'Notes/base.html'%}

{% block header%}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>new entry</title>
    </head>
{% endblock %}

{% block content %}
    <body>
        <p><a href="{% url 'Notes:topic' topic.id %}">back to {{ topic }}</a></p>
        <h3>Add a new entry:</h3>
        <form action="{% url 'Notes:new_entry' topic.id %}" method="post">
            {% csrf_token %}
            {{form}}
            <button>Add Entry</button>   
        </form>
        
    </body>
    
{% endblock%}
