{% extends 'Notes/base.html' %}

{% block page_header %}
    <h3>Topic : {{ topic }}</h3>
{% endblock %}


{% block content %}
    <p>
        <a href="{% url 'Notes:new_entry' topicId=topic.id %}" method="post"><button class="btn btn-success">Add New Entry</button></a>
    </p>
    {% for entry in entries %}
        <div class="card mb-3">

            <h5 class="card-header">
                {{entry.added_date|date:'M d, Y H:i'}}
                <small>
                    <a href="{% url 'Notes:edit_entry' entry.id %}"><button name="submit" class="btn btn-info">Edit Entry</button></a>
                </small>
            </h5>

            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>There are no description here yet</p>
    {% endfor %}
{% endblock %}