{% extends 'Notes/base.html' %}

{%block page_header%}
    <h1>Topics</h1>
{%endblock%}

{%block content%}
    <ul>
        {% for topic in topics%}
            <li><h2>
                <a href="{% url 'Notes:topic' topic.id %}" style="color: rgb(32, 17, 116);">{{ topic }}</a>
            </h2></li>
        {% empty %}
            <li><h3>There are no topics yet, you can add new topics by prees the button below.</h3></li>
        {% endfor %}
    </ul>
    <h4><a href="{% url 'Notes:new_topic' %}"><button class="btn btn-success">Add New Topic</button></a></h4>

    {% endblock %}
