{% extends 'Notes/base.html'%}
{% load bootstrap4%}

{% block page_header %}
    <h2>CREATE AN ACCOUNT</h2>
{% endblock %}



{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1449156733864-dd5471bb7427?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); background-size: 100%;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Register now</h2>
              <form action="{%url 'users:register'%}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form%}
                {% buttons%}
                    <button name="submit" class="btn btn-primary">register</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'Notes:home_page'%}">
                <p style="text-align: center;">already have an acount? <a href="{% url 'users:login'%}">login &rarr;</a></p>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}